body{
    font-family: 'Open Sans Condensed', sans-serif;
    width: 95%;
    max-width: 800px;
    margin: auto;
    background: url(fundo5.jpg) center;
    color: white;
    line-height: 2.0;
}

.apresentacao{
    margin: 0;
    text-align: center;
}

main{
    background: #00000099;
    padding: 10px 10px;
    margin-top: 20px;
    border-radius: 20px;
}

main nav ul{
    list-style: none;
    text-align: center;
}

main nav ul li{
    display: inline-block;
    margin-right: 10px;
}

main nav ul li a{
    font-size: 18px;
    color: red;
    text-decoration: none;
}

main nav ul li a:hover{
    text-decoration: underline;
}


a.link{
    color: red;
    text-decoration: none;
}

a.link:hover{
    text-decoration: underline;
}

.logo{
    text-align: center;
}

#graduacao{
    text-align: center;
}

#sobre{
    text-align: center;
}

.kaisa{
    text-align: center;
}

.texto{
    text-align: center;
}

#contato{
    margin: 30px 0;
    text-align: center;
    width: 100%;
}

#contato table{
    background: #fff8dc24;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}

a.links{
    color: white;
    text-decoration: none;
}

a.links:hover{
    text-decoration: underline;
}